* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #f2f3e6;
}

body {
  background-color: #ED2939; 
  min-width: 320px;
}

.container {
  width: 85%;
  margin: 0px auto;

}

.container--side-by-side {
  grid-template-columns: min-content 1fr; 
}

.display--font {
  font-size: 6.88vw;
  padding: 40px 0;
}

.text--font {
  font-size: 2.0vw;
  line-height: 2em; 
}

