* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #f2f3e6;
}

body {
  background-color: #ED2939; 
  min-width: 320px;
}

.container {
  display: grid;
  width: 95%;
  margin: 0px auto;

}

.container--side-by-side {
  grid-template-columns: min-content 1fr; 
}

.font {
  
}

.title--el {
  grid-column: 1 / -1;
  font-size: 7.88vw;
}

.text--el {
  grid-column: 1 / -1;
  font-size: 3vw;
}

